<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Blog_Blog::blog" title="Blog" module="Blog_Blog" sortOrder="10" resource="Blog_Blog::blog"/>
        <add id="Blog_Blog::post" title="Blog List" module="Blog_Blog" sortOrder="10" action="blog/post/index" resource="Blog_Blog::post" parent="Blog_Blog::blog"/>
    </menu>
</config>